---
layout: index
---

<ul class="posts">
  
  {% for post in paginator.posts %}
  <li>
    <span class="datetime muted" data-time="{{ post.date }}">{{ post.date | date_to_string }} </span>
    <h2><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h2>
	<div class="label">
	<div class="excerpt">
     {{post.excerpt}}
    </div>
    <div class="read-all">
    <a  href="{{ post.url | prepend: site.baseurl }}">Read All</a>
    </div>
	</div>
  </li>
 
  {% endfor %}
 </ul>
 <div class="paginate">
  {% if paginator.total_pages > 1 %}
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}">上一页</a>
  {% endif %}    
  
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}">下一页</a>
  {% endif %}
  {% endif %}
  </div>
   
